/* prevent angularjs flicker */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.tab-pane{
  background: #fff;
  padding-top: 10px;
  padding-bottom:10px;
  border: 1px solid #ddd;
  margin-top: -1px;
}

.workflow-controller
{
	margin-top: 10px;
}

.workflow-controller .logout
{
	text-align:right;
	font-size:0.9em;
	cursor:pointer;
}

.workflow-controller .name
{
	margin-top: 15px;
}

.workflow-controller .reservations
{
	float: left;
	width:505px;
	margin-top: 10px;
}

.workflow-controller .reservations .agent-reservation
{
	border: 1px solid transparent;
	border-radius: 4px;
	border-color: rgb(221, 221, 221);
	box-shadow: none;
}

.workflow-controller .reservations .agent-reservation table
{
	width:100%;
	font-size: 1.2em;
}

.workflow-controller .reservations .agent-reservation .accept-panel
{
	width: 80px;
	text-align:right;
}

.workflow-controller .reservations .agent-reservation .accept-panel button
{
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color:#ffffff;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-size:15px;
  font-weight:bold;
  height: 34px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}

.workflow-controller .reservations .agent-reservation .accept-panel button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
  background-color:#f6f6f6;
}

.workflow-controller .reservations .agent-reservation .timer
{
	font-size: 0.8em
}

.workflow-controller .reservations .agent-reservation .title
{
	font-weight: bold;
}

.workflow-controller .reservations .agent-waiting
{
	border: 1px solid transparent;
	border-radius: 4px;
	border-color: rgb(221, 221, 221);
	box-shadow: none;
}

.workflow-controller .reservations .agent-waiting .panel-title
{	
	text-align:center;
	font-size:1.4em;
	color: #787878;
}

.workflow-controller .reservations .agent-task
{
	border: 1px solid transparent;
	border-radius: 4px;
	border-color: rgb(221, 221, 221);
	box-shadow: none;
}

.workflow-controller .reservations .agent-task .description
{
	font-size: 1.2em;
	font-weight: bold;
}

.workflow-controller .reservations .agent-task .panel-heading
{
	overflow: auto;
}

.workflow-controller .reservations .agent-task button.complete-task
{
	float: right;
}

.phone-controller 
{
	float:right;
	width:280px;
	margin-top: 10px;
	background-color:#f5f5f5;
	border: 1px solid transparent;
	border-radius: 4px;
	border-color: rgb(221, 221, 221); 
	padding: 10px;
}

.phone-controller input
{
	box-sizing: border-box; 
	width: 100%;
	font-size: 1.8em;
	color: #333333;
	padding: 5px 15px 5px 15px;
	border:0;
}

.phone-controller .phone-number
{
	box-sizing: border-box; 
	width: 100%;
	font-size: 1.8em;
	padding: 5px 15px 5px 15px;
	color:#333333;
	overflow: hidden;
}

.phone-controller .keypad
{
	overflow: auto;
	padding: 10px 30px 10px 30px;
}

.phone-controller .keypad .digit
{
	float: left;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border: 1px solid #ddd;
	font-size: 1.6em;
	margin-left: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	cursor: pointer;
	color: #787878;
	border-radius: 3px;
}

.phone-controller .digit:nth-child(3n +1){
    margin-left: 5px
}

.phone-controller .digit:nth-child(1n + 10){
    margin-bottom: 0
}

.phone-controller .digit:hover{
	background-color: #787878;
	color:white;
}

.phone-controller .button-call 
{
	width: 100%;
	border-radius: 3px;
	border:1px solid green;
	font-size: 1.6em;
	background-color: green;
	color:white;
}

.phone-controller .button-hangup 
{
	width: 100%;
	border-radius: 3px;
	border:1px solid red;
	font-size: 1.6em;
	background-color: red;
	color:white;
}

.phone-controller .status 
{
	font-size: 0.8em;
	color: #808080;
	padding-top: 8px;
	display: block
}

/* support chat */
.typing-notification
{
	color: #808080; 
	height: 2em;
	font-size: 0.8em;
	line-height: 2em;
	padding-left: 10px;
}

.chat-controller .load-indicator
{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.chat-controller .typing-notification
{
	color: #808080; 
	height: 2em;
	font-size: 0.8em;
	line-height: 2em;
}

.support-chat-form input[name="identity"]
{
	width: 250px;
}

.support-chat-form .initiate > span
{
	padding-right:8px;
}

.chat-controller
{
	border-top: 1px solid #ddd;
	padding-top: 10px;
}

.chat-canvas
{
    height: 400px;
    margin: 0;
    overflow-y: scroll;
}

.chat-canvas .message-list
{
	list-style: none;
	padding-left: 10px;
	margin-right: 10px;
}

.chat-canvas .message-list .message
{
	list-style: none;
	overflow: auto;
	clear:both;
	padding: 0 8px 8px 8px;
}

.message > div
{
	float: left;
}

.message .body
{
  color: #fff;
  background-color: #00b0ff;
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  padding: 8px 14px 8px 14px;
  vertical-align: top;
  border-radius: 5px;
  z-index: 1;
}

.message .body .needle
{
	position: absolute;
	top: 0;
	left: 0;
}

.message .body .needle:after
{
	font-family: FontAwesome;
	color: #00b0ff;
	position: absolute;
	z-index: -1;
  top: 10px;
  left:12px;
  display: block;
  width: 8px;
  height: 6px;
  content: '\f04d';
  -webkit-transform: rotate(29deg) skew(-35deg);
  transform: rotate(29deg) skew(-35deg);
}

.message .body p
{
	margin:0;
	font-size: 14px;
}

.message.me > div
{
	float: right;
}

.message.me .body
{
  color: #1a1a1a;
  background-color: #eceff1;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  float: right;
}

.message.me .body .needle
{
	position: absolute;
	top: 0;
	right: 0;
	left: auto;
}

.message.me .body .needle:after
{
	color: #eceff1;
  right: -10px;
  left:auto;
}

.message .footer
{
	overflow:auto;
	clear: both;
}

.message .footer .author
{
	font-size: 0.9em;
	float:left;
	padding-right: 8px;
}

.message.me .footer .author
{
	float:right;
	padding-left: 8px;
	padding-right: 0;
}

.message .footer .time
{
	font-size: 0.9em;
}

.message .footer .time
{
    float: right;
}

.message.me .footer .time
{
    float: left;
}

.chat-message-form
{
	padding-left: 10px;
}

.chat-message-form input
{
	width:100%;
}

.chat-message-form button
{
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 5px;
}

.message .chat-inline-number
{
	color: white;
	cursor: pointer;
	text-decoration: underline;
}

.message.me .chat-inline-number
{
	color: #1a1a1a;
}

/* task overview */
.task-list
{
	width: 100%;
}

.task-list .label
{
	font-size:1em;
}